.contacts-card {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 1rem 1.5rem;
  flex-direction: column;
}
.contacts-card a {
  text-decoration: none;
  display: flex;
  flex-direction: row-reverse;
}
.contacts-card svg {
  font-size: 1.5rem;
  margin: 1rem;
}
.contacts-card .contacts-btn {
  padding: 0.6em;
  background-color: var(--bg-color-secondary);
  border-radius: 5px;
  color: var(--text-color);
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contacts-card :hover {
  background: var(--gradient);
}
.contacts-card :hover svg {
  color: var(--text-color);
}
/* .contacts-card :hover p {
  color: white;
  background: none;
}  */
