@use "../variables"
@use "../mixins"

.project-card 
    width: 13rem
    // margin-right: 3rem
    color: variables.$text-color
    display: flex
    flex-direction: column
    align-items: center


    h3 
        // font-size: 2rem
        margin-bottom: 0.7rem 
    img
        width: 13rem
        height: auto
    
    button
        
        width: 7rem
        padding: 0.4rem 0.9rem
        color: variables.$text-color
        background: variables.$gradient
        text-decoration: none
        border-radius: 1rem
        appearance: auto

        border-style: none
        


.project-card-info 
    display: flex
    // color: red
    text-align: center
    flex-direction: column

    p
        margin-top: 0.4rem
        text-align: left

.project-tecnologies
    svg
        color: white
        margin-bottom: 0rem
        margin-right: 0.3rem
    #html
        color: #E44D26
    
    #css
        color: #1572B6
    
    #js
        color: #F0DB4F



#css
    svg
     color: #1572B6
#js
    svg
     color: #F0DB4F
#node
    svg
     color: #83CD29
#mysql
    svg
     color: #00618A
#react
    svg
     color: #61DAFB

#html
    svg
        color: black