@import url("../variables.css");

.resume-container {
  /* color: var(--text-color-secondary); */
  width: 100%;
  color: var(--text-color);
  list-style-type: circle;
}

.resume-container li:hover {
  color: var(--text-color);
}

.skills-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  margin: 5rem 0;
  /* width: 40%; */
}

.skills-container ul {
  padding: 0;
  margin: 0;
}

.hard-skills li,
.soft-skills li {
  list-style-type: none;
  padding: 0.4rem;
  /* border: 1px solid black; */
  margin: 0.3rem 0;
  text-align: center;
}

.hard-skills li {
  background-color: #775fc0;
  color: #8ef7bc;
}

.soft-skills li {
  background-color: #ca526c;
  color: #ffc136;
}

.hard-skills {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.soft-skills {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hard-skills p {
  margin: 0;
  padding: 0.5rem 2.3rem;
  border: 1px solid black;
  background-color: var(--bg-color-secondary);
  color: var(--text-color);
}

.soft-skills p {
  margin: 0;
  padding: 0.5rem 3.2rem;
  border: 1px solid black;
  background-color: var(--bg-color-secondary);
  color: var(--text-color);
}

.skills-img {
  /* flex: ; */
  width: 10rem;
}

.resume-container h3 {
  font-size: 2rem;
  margin-bottom: 0;
}

.resume-container h4 {
  font-size: 1.3rem;
  margin: 0.5rem 0 0 0;
}

.resume-container h5 {
  margin: 0;
  margin-bottom: 0.5rem;
}

.resume-container h6 {
  margin: 0;
  margin-bottom: 0.5rem;
}

.professional-div ul {
  margin-bottom: 1.3rem;
  list-style-type: circle;
}

.professional-div h4 {
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
}
