
$font-stack: "Helvetica"
$text-color: #FFF
$text-color-secondary: #a6a6a6
$body-bg-color: #002763
// $body-bg-color: url(../)

// darkmode colors    
$text-color: #FFF
$bg-color: #0d0a18
$bg-color-secondary: #161426
$gradient: linear-gradient(90deg, #00537e 0%, #3aa17e 98%)

// Light colors    
$text-color: #494949
// $bg-color: #f0f2ed
// $bg-color-secondary: #e5e8de
$bg-color: rgba(244, 241, 241, 1)
$bg-color-secondary: #efefef

$gradient: linear-gradient(90deg, rgba(250,82,82,1) 0%, rgba(221,36,118,1) 98%)


$container-border-radius: 10px
$card-border-radius: 5px
// $gradient: linear-gradient(90deg, rgba(250,82,82,1) 0%, rgba(221,36,118,1) 98%)
// $gradient: linear-gradient(90deg, #00537e 0%, #3aa17e 98%)
// $gradient: linear-gradient(90deg, #380036 0%, #0cbaba 98%)

